*{
  margin:0;
  padding:0;
}
.porp:hover{
  color: #5624d0;
  cursor: pointer;
}
.bigscreen {
  display: inline;
}
.smallscreen {
  display: none;
}
.main-bar {
  display: flex;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.div-search {
  position: relative;
  display: flex;
}
.search-box {
  height: 50px;
  width: 500px;
  border-radius: 30px;
  padding-left: 40px;
  background-color: aliceblue;
}
.search-icon {
  position: absolute;
  left: 7px;
  top: 15px;
  width: 25px;
  height: 50px;
  height: 15px;
  margin-right: 10px;
}
.search-icon:hover {
  cursor: pointer;
}
.login-icon {
  position: relative;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  border-width: 3px;
  width: 70px;
  height: 40px;
  border-radius: 6px;
}
.signup-icon {
  position: relative;
  background-color: black;
  border-style: solid;
  width: 90px;
  color: white;
  height: 40px;
  border-radius: 6px;
}
.small-screen {
  display: flex;
  flex-direction: row;
  height: 30px;
  position: relative;
}
/* small screen */
@media (max-width: 800px) {
  .bigscreen {
    display: none;
  }
  .smallscreen {
    display: inline;
  }
}
.alarm-part {
  display: flex;
  flex-direction: row;
  height: 300px;
  position: relative;
  background-color: rgb(247, 247, 247);
}
.alarm-part-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  background-color: rgb(247, 247, 247);
}
.text-alarm {
  box-shadow: 2px 2px rgb(205, 199, 199);
  margin-top: 50px;
  margin-left: 70px;
  height: 120px;
  width: 300px;
  margin-right: 300px;
  background-color: white;
}
.text-alarm-small {
  margin-top: 20px;
  margin-left: -11px;
  height: 100px;
  width: 300px;
  background-color: white;
}
.button-style {
  border-style: none;
  color: rgb(205, 199, 199);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  margin-right: 10px;
}
.button-style:hover{
  cursor: pointer;
  color:#000;
}
.Courses-div{
  height: auto;
  padding:10px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 5px;
}
.expore-pyth{
  border-style: groove;
  border-color: black;
  background-color: aqua;
  margin: 2em;
  padding: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.expore-pyth:hover {
  cursor: pointer;
}
.Courses-photos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 20px;
  flex-wrap: wrap;
}
.Courses-photos :hover{
  cursor: pointer;
}
.Courses-photos div {
  flex: 1 0 18%;
}
.one-course {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-bottom: 20px;
}
.checked {
  color: orange;
}
.ptr{
  cursor: pointer;
}
.active{
  color:black
}